/*==============================================
    GENERAL  STYLES    
    =============================================*/
	
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');

$sidebar_bg: #FFF;
$sidebar_text_color: #214761;
$topbar_bg: #FFF;
$breadcrumb_bg: #FFF;
$wrapper_bg: #EBEDEF;
$sidebar_active_bg: #F3F3F3;
$border_color: #E1E1E1;
$sidebar_width: 260px;
$font_family: 'Noto Sans JP', sans-serif;
$font_light: 400;
$font_normal: 500;
$font_bold: 700;
$font_bolder: 900;

:root {
    font-size: 16px;
}

body {
    font-family: $font_family;
    line-height:30px;
}
#wrapper {
    width: 100%;
	position: relative;
	background-color: $wrapper_bg;
}
#page-wrapper {
    border-top: 1px solid $border_color;
}
#page-inner {
	padding: 0 15px 15px;
    width:100%;
}
.wrap {
    height: calc(100vh - 50px);
}
/*==============================================
    MENU STYLES    
    =============================================*/
	
.sidebar {
	border:none;
	background-color: $sidebar_bg;
	.sidebar-collapse {
		.nav {
			padding:0;
			> li {
				border-top:1px solid $border_color;
				width: 100%;
				&.active {
					background-color:$sidebar_active_bg;
				}
				> a {
					position: relative;
					display: block;
					padding:6px 15px;
					color: $sidebar_text_color;
					font-weight: $font_normal;
					font-size: 1rem;
					text-decoration: none;
					> i {
						margin-right:15px;
					}
					&:hover, &:focus {
						background-color:$sidebar_active_bg;
						outline:0;
					}
				}
			}
			
		}
	}
}

.ps-scrollbar-y-rail {
      top: 0 !important
	  ;
    }

/*==============================================
    TOPBAR STYLES   
    =============================================*/
	
.navbar-custom {
	background-color: $topbar_bg;
}
.nav-breadcrumb {
	box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
	z-index: 9;
	position: relative;
	.breadcrumb {
		background-color: $breadcrumb_bg;
		border-radius: 0;
		padding: 6px 15px;
	}
}
.navbar-brand {
	font-weight: $font_bold;
}

/*==============================================
    TABLE STYLES   
    =============================================*/
.table-scroll {
	overflow-x:auto;
}
%column_fix_width {
	width:56px;
}
.table {
	thead {
		tr {
			th {
				white-space: nowrap;
				&.fix-width {
					@extend %column_fix_width;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;
				&.fix-width {
					@extend %column_fix_width;
				}
			}
		}
	}
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
@media(min-width:768px) {
	body {
		overflow: hidden;
	}
    #page-wrapper{
		margin: 0 0 0 $sidebar_width;
		min-height: 100vh;
    }
	#page-inner {
		padding:30px;
		overflow-y: auto;
		height: calc(100vh - 98px);
	}
	.navbar-custom {
		padding: 0 15px;
		.aligner {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $sidebar_width;
			min-height: 56px;
			margin-left: -15px;
			background-color: $sidebar_bg;
		}
		.aligner-item {
			max-width: 50%;
			&.navbar-brand {
				color: $sidebar_text_color;
			}
		}
	}
    .sidebar {
        z-index: 99;
        position: absolute;
        width: $sidebar_width;
		min-height: calc(100vh - 56px);
		.sidebar-collapse {
			display: -webkit-box!important;
			display: -ms-flexbox!important;
			display: flex!important;
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			> ul {
				display: block;
				width: 100%;
			}
		}
    }
	.nav-breadcrumb {
		.breadcrumb {
			margin-bottom: 0;
		}
	}
}


