$sidebar_width: 260px;
$sidebar_bg: #3C4B64;
$sidebar_active_bg: rgba(255,255,255,.05);
$sidebar_hover_bg: rgba(0,0,21,.2);
$sidebar_text_color: rgba(255,255,255,.6);
$sidebar_active_text_color: #fff;

$topbar_bg: #FFF;
$brand_bg: rgba(0,0,21,.2);

$breadcrumb_bg: #FFF;
$wrapper_bg: #EBEDEF;
$border_color: #E1E1E1;

$font_family: 'Noto Sans JP', sans-serif;
$font_thin: 100;
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;
$font_black: 900;